<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" mode="push">
        <mat-nav-list>

            <a mat-list-item routerLink="/" (click)="sidenav.close()">Home</a>
            <a mat-list-item routerLink="/login" (click)="sidenav.close()" *ngIf="!(userService.currentUser | async)">Login</a>
            <a mat-list-item routerLink="/register" (click)="sidenav.close()" *ngIf="!(userService.currentUser | async)">Register</a>
            <a mat-list-item routerLink="/user/dashboard" (click)="sidenav.close()" *ngIf="(userService.currentUser | async)">User Dashboard</a>
            <a mat-list-item routerLink="/admin/dashboard" (click)="sidenav.close()" *ngIf="(userService.isAdmin() | async)">Admin Dashboard</a>
            <a mat-list-item routerLink="/user/settings" *ngIf="(userService.currentUser | async)" (click)="sidenav.close()">Account Settings</a>
            <a mat-list-item (click)="logout(); sidenav.close()" *ngIf="(userService.currentUser | async)">Logout</a>
        
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background-color: #ffffff; border-bottom: 1px solid #CCCCCC;">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <button class="center_icon" mat-button *ngIf="(userService.currentUser | async)" routerLink="/user/dashboard">
                <span>{{ (userService.currentUser | async).Username }}</span>
            </button>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>