.sidenav {
    height: 100vh;
    width: 300px;
}

main {
    position: relative;
    min-height: calc(100vh - 64px);
}

.sidenav__title {
    margin-left: 1em;
}

.sidenav_item-icon {
    margin-right: 0.8em;
}

.center_icon {
    mat-icon {
        font-size: 1.5em;
        margin-right: 0.25em;
    }
}