.container {
    margin: 2rem auto;
    max-width: 500px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
        margin-left: 1rem;
    }
}

mat-card {
    padding: 2rem;
}

mat-form-field {
    width: 100%;
}