<div class="container">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Name" formControlName="name" [errorStateMatcher]="showImmediate">
                            <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                            <mat-error *ngIf="hasError('name', 'maxlength')">Name is too long</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Username" formControlName="username" [errorStateMatcher]="showImmediate">
                            <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
                            <mat-error *ngIf="hasError('username', 'maxlength')">Username is too long</mat-error>
                            <mat-error *ngIf="hasError('username', 'usernameTaken')">Username already taken!</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input type="password" matInput placeholder="Password" formControlName="password">
                            <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" [errorStateMatcher]="showAfterTouched">
                            <mat-error *ngIf="form.hasError('notSame')">Passwords don't match</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" mat-raised-button color="secondary" [routerLink]="['/login']">Log in</button>
                    <button type="submit" mat-raised-button color="primary">Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
    