<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Admin Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>All Posts</h2>
        </div>
        <div class="col-sm-12" *ngIf="myPosts">
            <div style="margin: 10px 0;">
                <button mat-raised-button color="primary"[routerLink]="['/post/edit']">
                    Create post
                </button>
            </div>

            <table mat-table [dataSource]="myPosts" class="mat-elevation-z8 userPosts">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                </ng-container>
                
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{ convertToString(element.Date) }} </td>
                </ng-container>
                
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.MD_Active === 0 ? 'Deleted' : element.Status === 0 ? 'Hidden' : 'Published'}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Settings </th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="element.MD_Active" mat-raised-button color="primary"[routerLink]="['/post/edit/', element.UID]" style="margin-right: 8px;">
                            Edit
                        </button>

                        <button *ngIf="element.MD_Active" mat-raised-button color="warn"(click)="deletePost($event, element.UID)" style="margin-right: 8px;">
                            Delete
                        </button>

                        <button *ngIf="element.MD_Active && element.Status == 0" mat-raised-button color="primary" (click)="toggleStatus($event, element.UID)">
                            Publish
                        </button>

                        <button *ngIf="element.MD_Active && element.Status == 1" mat-raised-button color="primary" (click)="toggleStatus($event, element.UID)">
                            Hide
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row [routerLink]="['/post/detail/', row.UID]" class=""  *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </table>
        </div>
    </div>
</div>