.userPosts {
    width: 100%;
    .mat-row {
        transition: transform 350ms ease;
    }
    
    .mat-row:hover {
        cursor: pointer;
        transform: scale(1.008);
        transition: transform 250ms ease;
    }
}
