<div class="container" *ngIf="userInfo">
    <div class="row">
        <div class="col-sm-12">
            <h1>User Settings</h1>
        </div>
    </div>
    <form (ngSubmit)="saveUserData()" >
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field>
                    <input type="text" matInput [(ngModel)]="userInfo.Name" placeholder="Name" name="name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field>
                    <input type="text" matInput [value]="userInfo.Username" placeholder="Username" [disabled]="true" name="username">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" mat-raised-button color="primary">Save</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12">
            <h1>2FA</h1>
        </div>
    </div>
    <form (ngSubmit)="submitPhoneForm()" [formGroup]="phoneForm" *ngIf="!tfaActive">
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <input type="text" matInput placeholder="41791112233" formControlName="phone">
                    </mat-form-field>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" mat-raised-button color="primary" [disabled]="!phoneForm.valid && !userInfo.PhoneConfirmed">Send Token</button>
            </div>
        </div>
    </form>
    <form (ngSubmit)="submitTokenForm()" [formGroup]="tokenForm" *ngIf="tfaActive">
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Token" formControlName="token">
                    </mat-form-field>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" mat-raised-button color="primary" [disabled]="!tokenForm.valid">Verify Token</button>
            </div>
        </div>
    </form>
    <div *ngIf="(userInfo.PhoneConfirmed)" style="margin-top: 2rem;">
        <button mat-raised-button color="warn" (click)="disableTFA()">Disable TFA</button>
    </div>

</div>