.wrapper {
    margin: 2rem 1rem;
    .actions {
        display: none;
    }
}

.post {
    margin-bottom: 2rem;
    cursor: pointer;
    .avatar-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }

    mat-card-actions {
        display: flex;
        align-items: center;
    }

    mat-card-content p {
        margin: 0 16px;
    }

    mat-icon {
        font-size: 1.5em;
        margin-right: 0.25em;
    }
}

@media (min-width: 768px) {
    .wrapper {
        display: grid;
        margin-top: 2rem;;
        grid-template-columns: auto minmax(280px, 640px) 300px auto;
        column-gap: 2rem;
        .posts {
            grid-column: 2/3;
        }
        .actions {
            display: block;
            grid-column: 3/4;
            .top-posts {
                margin-bottom: 2rem;
            }
        }
    }    
}
