<div class="wrapper">
    <div class="posts" *ngIf="allPosts">
        <mat-card *ngIf="allPosts.length == 0" style="min-height: 68px; text-align: center; vertical-align:middle;">
            <p>Be the first one to create a post!</p>
        </mat-card>
        <mat-card class="post" *ngFor="let post of allPosts" [routerLink]="['/post/detail/', post.UID]">
            <mat-card-header>
                <mat-card-title>{{ post.Title }}</mat-card-title>
                <mat-card-subtitle>{{ post.Username }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ post.Content }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="actions">
        <mat-card>
            <button mat-raised-button color="primary" [routerLink]="(userService.currentUser | async) ? '/post/edit' : ''">
                Add Post
            </button>
        </mat-card>
    </div>
</div>