<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>User Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Your Posts</h2>
        </div>
        <div class="col-sm-12" *ngIf="myPosts">
            <div style="margin: 10px 0;">
                <button mat-raised-button color="primary" [routerLink]="['/post/edit']">
                    Create post
                </button>
            </div>
            <table mat-table [dataSource]="myPosts" style="width: 100%;" class="mat-elevation-z8">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                </ng-container>
                
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{ convertToString(element.Date) }} </td>
                </ng-container>
                
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.MD_Active === 0 ? 'Deleted' : element.Status === 0 ? 'Hidden' : 'Published'}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Settings </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" [routerLink]="['/post/edit/', element.UID]">Edit</button>
                        <button mat-raised-button color="warn" style="margin-left: 8px;" (click)="deletePost($event, element.UID)">Delete</button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row [routerLink]="['/post/detail/', row.UID]" *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </table>
        </div>
    </div>
</div>