<div class="container">
        <button mat-raised-button color="primary" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    <!-- Create -->
    <mat-card>
        <mat-card-title>
            {{ isEditMode ? 'Edit Post' : 'Create Post'}}
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field>
                    <input matInput placeholder="Title" formControlName="Title">
                </mat-form-field>
    
                <mat-form-field>
                    <textarea matInput placeholder="Content" formControlName="Content"></textarea>
                </mat-form-field>
    
                <button mat-raised-button color="primary" (click)="isEditMode ? savePost() : createPost()" [disabled]="!form.valid">
                    <mat-icon>{{ isEditMode ? 'save' : 'add_box'}}</mat-icon>
                    {{ isEditMode ? 'Save Post' : 'Create Post'}}
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
