<h1 mat-dialog-title>Confirm action</h1>
<div mat-dialog-content>
    <p>Are you sure you want to continue with this action?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
</div>