<div class="container">
        <button mat-raised-button color="primary" (click)="location.back()">
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
    <!-- Create -->
    <mat-card *ngIf="post">
        <mat-card-header>
            <!-- <div mat-card-avatar class="avatar-image"></div> -->
            <mat-card-title>{{ post.Title }}</mat-card-title>
            <mat-card-subtitle>{{ post.Username }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <p>{{ post.Content }}</p>
        </mat-card-content>
    </mat-card>
</div>
<div class="container">
    <mat-card *ngIf="post && post.Comments">
        <mat-card-header>
            <mat-card-title>Comments</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="userService.isLoggedIn()">
                <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                    <mat-form-field>
                        <textarea matInput formControlName="comment"></textarea>
                        <mat-error *ngIf="commentForm.controls['comment']?.hasError('minlength')">Comment to short!</mat-error>
                    </mat-form-field>
                    <div style="display: flex; justify-content: flex-end;">
                        <button type="submit" mat-flat-button color="primary" [disabled]="commentForm.invalid">Comment</button>
                    </div>
                </form>
            </div>
            <div *ngIf="!userService.isLoggedIn()" class="margin">
                <span>Log in to comment</span>
            </div>

            <span class="margin" *ngIf="post.Comments.length === 0">No comments yet</span>
            <div class="comments">
                <div class="comment" *ngFor="let comment of post.Comments">
                    <h3>{{ comment.Username }} <small>{{ convertToString(comment.Date) }}</small></h3>
                    <p>{{ comment.Content }}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
