.container {
    padding-top: 2rem;
    max-width: 640px;
}
mat-card {
    margin: 2rem auto 0 auto;
    mat-card-content p {
        margin: 0 16px;
    }
}

mat-form-field {
    width: 100%;
}

textarea {
    min-height: 60px;
}

.comments {
    margin-top: 2rem;
}

.margin {
    margin: 0 16px;
}

.comment {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    background-color: #eee;
    border-radius: 3px;
    h3 {
        margin: 0 16px;
    }
}