<div class="container">
    <mat-card>
        <mat-card-title *ngIf="!tfaActive">Login</mat-card-title>
        <mat-card-title *ngIf="tfaActive">TFA Token</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!tfaActive">
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Username" formControlName="username">
                            <mat-error *ngIf="hasError('username', 'required')">Username is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input type="password" matInput placeholder="Password" formControlName="password">
                            <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" mat-raised-button color="secondary" [routerLink]="['/register']">Register</button>
                    <button type="submit" mat-raised-button color="primary">Login</button>
                </div>
            </form>
            <form [formGroup]="tokenForm" (ngSubmit)="submit()" *ngIf="tfaActive">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Token" formControlName="token">
                            </mat-form-field>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" mat-raised-button color="primary" [disabled]="!tokenForm.valid">Verify Token</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
